#portfolio{
    width: 100vw;
    max-width: 75rem;
    margin: 4rem auto 2rem;
    }
.portHead h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #b0ac3b;
    position: relative;
    margin-bottom: 5rem;
}
.portHead h1::before{
    content: '';
        height: 2px;
        width: 39%;
        position: absolute;
        bottom: -10px;
        transform: translateX(-50%);
        left: 50%;
        background: #b0ac3b;
}
.portHead h1::after{
    content: '';
    height: 2px;
    width: 60%;
    position: absolute;
    bottom: 2px;
    transform: translateX(-50%);
    left: 50%;
    background: #b0ac3b;
}
.portBox{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.portItem{
  height: 500px;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  border: 8px solid #b0ac3b;
  position: relative;
}
.portItem img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.infoPorto{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 2s;
}
.portItem:hover .infoPorto{
    right: 0;
}
.infoPorto h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    color: #77730c;
}
.infoPorto p{
font-size: 16px;
line-height: 25px;
margin: 40px 0;
font-weight: 400;
color: #2e2d13;

}
.portItem a{
    text-decoration: none;
    padding: 10px 20px;
    background: #77730c;
    border-radius: 5px;
    color: black;
    text-transform: capitalize;
    border: none;
    width: 200px;
    font-weight: 500;
    cursor: pointer;
}
.infoPorto a:hover{
color:#b0ac3b;
background: black;
}
